future
emoji
requests
git+https://github.com/TomyPrs/python-markdown2.git
sqlalchemy
python-telegram-bot
jikanpy
psycopg2-binary
feedparser
pyowm
googletrans==3.1.0a0
wikipedia
Pillow>=6.0.0
alphabet_detector
urbandict
bs4
lxml
nltk
hurry.filesize
PyAML
markdown2
spongemock
zalgo-text
aiohttp
tldextract
pytz
kbbi
psutil
gtts
speedtest-cli
tswift
gTTS
pynewtonmath
python-dotenv
spamwatch
